<template>
  <the-header></the-header>
  <router-view v-slot="slotProps">
    <transition name="route" mode="out-in">
      <component :is="slotProps.Component"></component>
    </transition>
  </router-view>
  <the-footer></the-footer>
</template>

<script>
import TheHeader from "./components/layout/TheHeader.vue";
import TheFooter from "./components/layout/TheFooter.vue";
import MovieService from "./services/movie.service.js";
import { useStore } from "vuex";
import { reactive } from "@vue/reactivity";
export default {
  components: {
    TheHeader,
    TheFooter,
  },
  setup() {
    const store = useStore();
    let movieGenres = reactive([]);
    const getMovieGenres = () => {
      MovieService.getGenres().then((res) => {
        movieGenres = res.data.genres;
        store.dispatch("movies/setGenres", movieGenres);
      });
    };
    getMovieGenres();
    /*
    let tvGenres = reactive([]);
    const getTvSeriesGenres = () => {
      TvSeriesService.getGenres().then((res) => {
        tvGenres = res.data.genres;
        store.dispatch('tvseries/setGenres', tvGenres)
      });
    };
    getTvSeriesGenres();
    */

    return {};
  },
};
</script>
<style src="./assets/css/tailwind.css"></style>
<style>
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.route-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}

.route-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.route-enter-active {
  transition: all 0.3s ease-out;
}

.route-leave-active {
  transition: all 0.3s ease-in;
}

.route-enter-to,
.route-leave-from {
  opacity: 1;
  transform: translateY(0);
}
</style>
