<template>
  <router-link
    v-if="link"
    :to="item.to"
    class="block py-2 pr-4 pl-3"
    :class="[
      item.active
        ? 'text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white'
        : 'text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700',
    ]"
    :aria-current="item.active ? 'page' : undefined"
    @click="changeItem(item)"
    ><slot></slot
  ></router-link>
  <button
    v-else
    class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    link: {
      type: Boolean,
      required: false,
      default: false,
    },
    item: {
      type: Object,
      required: false,
      default: null,
    },
  },
  setup(props, context) {
    const changeItem = (item) => {
      context.emit("change-item", item);
    };
    return { changeItem };
  },
};
</script>
<style scoped>
button,
a {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font: inherit;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 0.5rem;
}
button {
  width: 100%;
  text-align: left;
}
/*
a:hover,
a:active,
button:hover,
button:active {
  background-color: #270041;
  border-color: #270041;
}
*/
</style>
