<template>
  <ul
    class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium"
  >
    <li v-for="item in items" :key="item.name">
      <nav-item :item="item" :link="true" @change-item="changeNavItem">
        {{ item.name }}
      </nav-item>
    </li>
    <li v-if="isLoggedIn">
        <nav-item :link="false" @click="signout" > SIGNOUT </nav-item>
    </li>
    <li v-else>
        <nav-item :link="false" @click="signin" > SIGNIN </nav-item>
    </li>
  </ul>
</template>
<script>
import NavItem from "./NavItem.vue";
export default {
  components: {
    NavItem,
  },
  props: ["items", 'isLoggedIn'],
  setup(props, context) {
    const changeNavItem = (item) => {
      context.emit("change-item", item);
    };
    const signin = () => {
        context.emit("signin");
    };
    const signout = () => {
        context.emit("signout");
    };
    return { changeNavItem, signin, signout };
  },
};
</script>
