<template>
  <div class="flex justify-start">
    <div class="inline-flex " role="group">
      <button
        v-for="filter in filters"
        :key="filter.key"
        @click="setFilter(filter.key)"
        class="py-2 px-4 text-sm font-medium text-gray-900 bg-transparent border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700"
      >
        {{ filter.value }}
      </button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["filters"],
  setup(_, context) {
    const setFilter = (key) => {
      context.emit("set-filter", key);
    };
    return { setFilter };
  },
};
</script>
