<template>
  <router-link :to="'/movie/' + id" class="group card">
    <div
      class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8"
    >
      <img
        :src="image"
        :alt="title"
        class="w-full h-full object-center object-cover group-hover:opacity-75"
      />
    </div>
    <div class="card-content">
      <div class="card-title">
        <h3 class="mt-3 text-md text-gray-700">
          {{ title }}
        </h3>
        <p
          v-if="vote !== 0"
          class="mt-3 text-md font-medium text-gray-900 card-vote"
        >
          {{ voteFormatted }}
        </p>
      </div>
      <div class="card-genres">
        <h4 class="mt-4 text-sm text-gray-900">
          {{ genresString }}
        </h4>
      </div>
    </div>
  </router-link>
</template>
<script>
import { useStore } from "vuex";
import MovieService from "@/services/movie.service.js";
import placeholderImage from "@/assets/images/imagePlaceholder.png";
export default {
  props: ["id", "imageURL", "title", "vote", "genreIds"],
  setup(props) {
    const store = useStore();
    const genres = store.getters["movies/genres"];
    const image =
      props.imageURL !== null
        ? MovieService.MOVIE_DB_IMAGE_URL.medium + props.imageURL
        : placeholderImage;
    const voteFormatted = Number(props.vote).toPrecision(2);
    const genresList = genres.filter(
      (genre) => props.genreIds.indexOf(genre.id) >= 0
    );
    let genresString = "";
    genresList.forEach((element) => {
      genresString += element.name + ", ";
    });
    genresString = genresString.substring(0, genresString.length - 2);
    return { genresString, voteFormatted, image };
  },
};
</script>
<style scoped>

.card-title {
  display: flex;
  width: inherit;
  justify-content: center;
}
.card-title h3 {
  display: inline-flex;
}
.card-title p {
  display: inline-flex;
}
.card-vote {
  margin-left: 1rem;
  padding: 5px;
  color: gold;
  border: 2px solid gold;
  border-radius: 0.5rem;
}
.card-genres {
  display: flex;
  width: inherit;
  justify-content: center;
}
</style>
