<template>
  <div class="bg-inherit">
    <div
      class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <div
        class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
      >
        <show-card
          v-for="movie in movies"
          :key="movie.id"
          :id="movie.id"
          :imageURL="movie.poster_path"
          :title="movie.title"
          :genreIds="movie.genre_ids"
          :vote="movie.vote_average"
        >
        </show-card>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["movies"],
  setup() {},
};
</script>
