<template>
<div class="flex justify-center bg-inherit">
  <ul class="inline-flex items-center -space-x-px">
    <li>
      <a
        @click="changePage(1)"
        class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <span>First</span>
      </a>
    </li>
    <li>
      <a
        @click="changePage(currentPage - 1)"
        class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <span>Prev</span>
      </a>
    </li>
    <li>
      <a
        v-if="currentPage > totalPages-4"
        @click="changePage(currentPage - 4)"
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >{{ currentPage - 4 }}</a
      >
    </li>
    <li>
      <a
        v-if="currentPage > totalPages-3"
        @click="changePage(currentPage - 3)"
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >{{ currentPage - 3 }}</a
      >
    </li>
    <li>
      <a
        v-if="currentPage > 2"
        @click="changePage(currentPage - 2)"
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >{{ currentPage - 2 }}</a
      >
    </li>
    <li>
      <a
        v-if="currentPage > 1"
        @click="changePage(currentPage - 1)"
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >{{ currentPage - 1 }}</a
      >
    </li>
    <li>
      <a
        @click="changePage(currentPage)"
        aria-current="page"
        class="z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
        >{{ currentPage }}</a
      >
    </li>

    <li>
      <a
        v-if="currentPage < totalPages - 2"
        @click="changePage(currentPage + 1)"
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >{{ currentPage + 1 }}</a
      >
    </li>
    <li>
      <a
        v-if="currentPage < totalPages - 3"
        @click="changePage(currentPage + 2)"
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >{{ currentPage + 2 }}</a
      >
    </li>
    <li>
      <a
        v-if="currentPage < 3"
        @click="changePage(currentPage + 3)"
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >{{ currentPage + 3 }}</a
      >
    </li>
    <li>
      <a
        v-if="currentPage < 2"
        @click="changePage(currentPage + 4)"
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >{{ currentPage + 4 }}</a
      >
    </li>
    <li>
      <a
        @click="changePage(currentPage + 1)"
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <span>Next</span>
      </a>
    </li>
    <li>
      <a
        @click="changePage(totalPages)"
        class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <span>Last</span>
      </a>
    </li>
  </ul>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  props: ["currentPage", "totalPages"],
  emits: ["change-page"],
  setup(props, context) {
    const newPage = ref(1);
    const changePage = (page) => {
      if (page > 0 && page <= props.totalPages) {
        newPage.value = page;
        context.emit("change-page", newPage.value);
      }

    };

    return {
      changePage,
    };
  },
};
</script>
<style scoped>
a {
  cursor: pointer;
}
</style>
