<template>
  <footer
    class="p-4 bg-white rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-800"
  >
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href="https://www.themoviedb.org/"
        class="flex items-center mb-4 sm:mb-0"
      >
        <img src="@/assets/tmdb.svg" class="mr-3 h-8" alt="The Movie DB Logo" />
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        <li>
          <router-link v-for="item in navigation" :key="item.name" :to="item.to" class="mr-4 hover:underline md:mr-6"
            >{{item.name}}</router-link
          >
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2022 Made by Jarosław Chmal. Data fetched from
      <a href="https://www.themoviedb.org" class="hover:underline"
        >TheMovieDB</a
      >
    </span>
  </footer>
</template>
<script>
export default {
  setup() {
    const navigation = [
      { name: "Movies", to: {name: 'movies', params: {filter: 'popular', page: '1'}} },
      { name: "TV Shows", to: "/tvshows" },
      { name: "Watchlist", to: "/watchlist" },
    ];
    return {
      navigation,
    };
  },
};
</script>
<style scoped></style>
