<template>
  <nav
    class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800"
  >
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <router-link
        :to="{name: 'home'}"
        class="flex items-center"
      >
        <img
          src="https://flowbite.com/docs/images/logo.svg"
          class="mr-3 h-6 sm:h-9"
          alt="Flowbite Logo"
        />
        <span
          class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
          >APPNAME</span
        >
      </router-link>

      <div class="flex items-center md:order-3">
        <button
          data-collapse-toggle="mobile-menu-2"
          type="button"
          class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="mobile-menu-2"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <svg
            class="hidden w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>

      <div
        class="hidden justify-between items-center w-full md:flex md:w-auto md:order-2"
        id="mobile-menu-2"
      >
        <input
          type="text"
          class="block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search..."
        />
        <nav-list
          :items="navigation"
          :isLoggedIn="isLoggedIn"
          @signin="login"
          @signout="logout"
          @change-item="changeNavItem"
        ></nav-list>
      </div>
    </div>
  </nav>
</template>

<script>
import { computed, reactive } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import NavList from "../ui/nav/NavList.vue";
export default {
  components: { NavList },
  setup() {
    const navigation = reactive([
      {
        name: "MOVIES",
        to: { name: "movies", params: { filter: "popular", page: 1 } },
        active: false,
      },
      { name: "TVSHOWS", to: "/tvshows", active: false },
      { name: "WATCHLIST", to: "/watchlist", active: false },
    ]);
    const store = useStore();
    const router = useRouter();
    const isLoggedIn = computed(() => {
      return store.getters["auth/isAuthenticated"];
    });
    const username = computed(() => {
      return store.getters["auth/username"];
    });
    const name = computed(() => {
      return store.getters["auth/name"];
    });
    const login = () => {
      store.dispatch("auth/login");
    };
    const logout = () => {
      store.dispatch("auth/logout");
      router.replace("/");
    };
    const changeNavItem = (item) => {
      console.log(JSON.stringify(item));
      navigation.forEach((element) => {
        element.active = false;
      });
      const updated = item;
      updated.active = true;
      navigation[navigation.indexOf(item)] = updated;
    };

    return {
      navigation,
      changeNavItem,
      isLoggedIn,
      username,
      name,
      login,
      logout,
    };
  },
};
</script>
