<template>
  <div class="home">
    <base-dialog
      :show="!!error"
      title="An error occurred!"
      @close="handleError"
    >
      <p>{{ error }}</p>
    </base-dialog>

    <div class="container" v-if="loading">
      <filter-list :filters="filters" @set-filter="setFilter"></filter-list>
      <base-spinner></base-spinner>
    </div>
    <div class="container" v-else>
      <filter-list :filters="filters" @set-filter="setFilter"></filter-list>
      <show-list :movies="movies"></show-list>

      <base-pagination
        :current-page="currentPage"
        :total-pages="totalPages"
        @change-page="changePage"
      ></base-pagination>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import MovieService from "../services/movie.service.js";
import { computed, ref, watch } from "vue";
import { useStore } from "vuex";
import keycloak from "@/main.js";
import ShowList from "../components/ui/media/ShowList.vue";
import FilterList from "@/components/ui/media/FilterList.vue";
import { useRouter } from "vue-router";
export default {
  name: "HomeView",
  props: {
    filter: {
      type: String,
      required: false,
      default: "popular",
    },
    page: {
      type: Number,
      required: false,
      default: 1,
    },
  },
  components: { ShowList, FilterList },
  setup(props) {
    const token = computed(() => {
      return store.getters["auth/token"];
    });
    const store = useStore();
    let movies = ref(null);
    let totalPages = ref(null);
    const filters = [
      { key: "popular", value: "Popular" },
      { key: "now_playing", value: "Now playing" },
      { key: "top_rated", value: "Top rated" },
      { key: "upcoming", value: "Upcoming" },
    ];
    let currentPage = ref(props.page);
    let currentFilter = ref(props.filter);
    const loading = ref(true);
    const error = ref(null);
    const handleError = () => {
      error.value = null;
      router.push({ name: "home" });
    };
    const router = useRouter();
    const changePage = (page = "first") => {
      if (page === "next")
        router.push({
          name: "movies",
          params: { filter: currentFilter.value, page: currentPage.value + 1 },
        });
      else if (page === "prev")
        router.push({
          name: "movies",
          params: { filter: currentFilter.value, page: currentPage.value-- },
        });
      else if (page === "first")
        router.push({
          name: "movies",
          params: { filter: currentFilter.value, page: 1 },
        });
      else if (page === "last")
        router.push({
          name: "movies",
          params: { filter: currentFilter.value, page: totalPages.value },
        });
      else if (page >= 1 && page <= totalPages.value)
        router.push({
          name: "movies",
          params: { filter: currentFilter.value, page: page },
        });
    };
    const getMovies = (page = 1) => {
      loading.value = true;
      MovieService.getMovies({
        filter: currentFilter.value,
        page: page,
      })
        .then((res) => {
          movies.value = res.data.results;
          loading.value = false;
          error.value = null;
          totalPages.value =
            res.data.total_pages <= 500 ? res.data.total_pages : 500; //max is 500
        })
        .catch((err) => {
          error.value = err.message || "Something went wrong!";
        });
    };
    getMovies(currentPage.value);

    const setFilter = (key) => {
      currentFilter.value = key;
      router.push({
        name: "movies",
        params: { filter: currentFilter.value, page: 1 },
      });
    };

    watch(props, () => {
      currentFilter.value = props.filter;
      currentPage.value = props.page;
      getMovies(currentPage.value);
      router.push({
        name: "movies",
        params: { filter: currentFilter.value, page: currentPage.value },
      });
    });

    const account = () => {
      keycloak.accountManagement();

      /*
      fetch("http://localhost:9090/protected", {
        headers: {
          Authorization: "Bearer " + store.getters["auth/token"],
          "Content-Type": "application/json",
        },
      })
        .then((res) => res.json())
        .then((response) => console.log(response));
        */
    };
    return {
      account,
      token,
      movies,
      loading,
      getMovies,
      changePage,
      filters,
      setFilter,
      currentPage,
      totalPages,
      error,
      handleError,
    };
  },
};
</script>
<style scoped>
.container {
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 80rem;
}
</style>
